﻿@inherits LayoutComponentBase
<div class="page-wrapper chiller-theme  @(ViewModel.IsMenuExpanded ? "" : "toggled")">
    <NavMenu ToggleNavMenuAction="@ToggleNavMenu" />
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            @Body
            <footer class="text-center">
            </footer>
        </div>
    </main>
    <!-- page-content" -->
</div>