@layout AuthLayout ;
@page "/login"
@inherits PageComponentWithModelBase<ViewModels.LoginPageViewModel>

<div class="card col-md-5 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">      
        <EditForm Model="@ViewModel" OnInvalidSubmit="@OnInvalidSubmit" OnValidSubmit="@OnValidSubmit" id="authorize" class="form-horizontal">
            <div style="text-align: center;color: red;" class="mb-2">
                <ValidationSummary />
            </div>
            <DataAnnotationsValidator />
            <div class="form-label-group mb-4">
                <InputText id="emailaddress" @bind-Value="ViewModel.Username" class="form-control" />
                <ValidationMessage For="@(() => ViewModel.Username)" />

            </div>

            <div class="form-label-group mb-4">
                <InputText id="emailaddress" @bind-Value="ViewModel.Password" class="form-control" />
                <ValidationMessage For="@(() => ViewModel.Password)" />

            </div>

            <div class="form-label-group mb-4">

                <div style="@((ViewModel.IsActive)?"visibility:visible":"visibility:hidden")">
                    <div id="logging-in" class="absolute">Authorizing<span>...</span></div>
                </div>

                @if (!ViewModel.IsActive)
                {
                    <button Type="submit"
                            Style="@((ViewModel.IsActive)?"visibility:hidden":"visibility:visible")"
                            class="btn btn-lg btn-primary btn-block">
                        Sign in
                    </button>
                }

            </div>
        </EditForm>
    </div>
</div>

